# root
ur_ros_rtde_command_script_executor
.svn/
.vscode/
key.txt

# ur_ros_rtde
ur_ros_rtde/README.pdf
ur_ros_rtde/.svn/
ur_ros_rtde/launch/command_server_pal1.launch.py
ur_ros_rtde/launch/command_server_pal3.launch.py
ur_ros_rtde/launch/robot_state_receiver_pal1.launch.py
ur_ros_rtde/launch/robot_state_receiver_pal3.launch.py
ur_ros_rtde/launch/dashboard_server_pal1.launch.py
ur_ros_rtde/launch/dashboard_server_pal3.launch.py
ur_ros_rtde/launch/command_server_husky.launch.py
ur_ros_rtde/launch/robot_state_receiver_husky.launch.py
ur_ros_rtde/config/camera_calibration.txt
ur_ros_rtde/config/camera_calibration_agritech.txt

# ur_ros_rtde_msgs
.svn/

# simple_ur10e_description
simple_ur10e_description/urdf/ur10e.urdf

# devel files to remove
ur_ros_rtde/config/rtde_control_script.txt
ur_ros_rtde/src/test/test_trajectory_2_execution.cpp
ur_ros_rtde/src/test/test_trajectory_time_planning.cpp
ur_ros_rtde/src/test/test_upload_custom_script.cpp
ur_ros_rtde/src/base_commands/execute_trajectory_2.cpp
ur_ros_rtde/src/base_commands/send_custom_script.cpp
ur_ros_rtde/src/base_commands/trajectory_time_planning.h
ur_ros_rtde/trajectory_data.csv
ur_ros_rtde_msgs/action/ExecuteTrajectory2.action
ur_ros_rtde_msgs/action/SendCustomScript.action
